@page "/"

<PageTitle>Home</PageTitle>

<h1>Tracking Pathways Progress Made Easy</h1>
<br />
<br />

<div class="row card-group">
	<div class="card col-md-3" style="width: 18rem;">
		<img src="images/istockphoto-909025844-612x612.jpg" class="card-img-top" alt="directional signs" width="400" height="300">
		<div class="card-body">
			<h4 class="card-title">Track and Measure Process</h4>
			<p class="card-text">Platform helps with tracking Education goals for the DCP especially for VPEs and Education Committee members.</p>
		</div>
	</div>
	&nbsp;
	<div class="card col-md-3" style="width: 18rem;">
		<img src="images/pexels-mdx014-973231.jpg" class="card-img-top" alt="mountains" width="400" height="300">
		<div class="card-body">
			<h4 class="card-title">Access Detailed Views</h4>
			<p class="card-text">Track Pathways projects to completion and see live updates meeting after meeting.</p>
		</div>
	</div>
	&nbsp;
	<div class="card col-md-3" style="width: 18rem;">
		<img src="images/pexels-polina-zimmerman-3782226.jpg" class="card-img-top" alt="post-its with encouraging quotes" width="400" height="300">
		<div class="card-body">
			<h4 class="card-title">Chart and Export Club Goals</h4>
			<p class="card-text">Export detailed reports to CSV and other useful formats.</p>
		</div>&nbsp;
	</div>
</div>
<br />

<p>Please note that this app is not endorsed by Toastmasters International.</p>


