@page "/register"

<PageTitle>Register</PageTitle>

<h1>Register New User</h1>

<div class="row">
    <div class="col-md-1"></div>
    <h1 class="h3 mb-3 fw-normal">Please enter your information.</h1>
    <form class="col-md-6">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
            <label for="floatingInput">First Name</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name">
            <label for="floatingInput">Last Name</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="PN-0123456">
            <label for="floatingInput">Member Id</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="0123456789">
            <label for="floatingInput">Club Number</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Mighty TI Warriors Toastmasters Club">
            <label for="floatingInput">Club Name</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>&nbsp;
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Confirm Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Create Account</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</div>

@code {

}
